# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/
env/

# Flask / instance
instance/
.env

# Uploads (dane użytkownika, nie kod)
uploads/

# Docker
*.log

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

.patch